<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Upload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- See configuration in WebMvConfig.java -->
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>


    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>

&nbsp;<br/>
<div th:if="${message}" class="mx-auto" style="width: 70%;">
    <h2 th:text="${message}"/>
</div>
&nbsp;
<div class="mx-auto" style="width: 70%;">
    <form method="POST" enctype="multipart/form-data" action="/">
        <div class="form-group">
            <label for="file">Fichier:</label>
            <input type="file" class="form-control-file" id="file" name="file">
        </div>
        <button type="submit" class="btn btn-primary" value="Upload">Upload</button>
    </form>
</div>

<div class="mx-auto" style="width: 70%;">
    <table class="table table-bordered table-striped table-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col"> Type</th>
            <th scope="col"> Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${files.empty}" scope="row">
            <td colspan="2"> No Files Available</td>
        </tr>
        <tr th:each="file : ${files}" scope="row">
            <td>
                <div th:switch="${file.dir}">
                    <img th:case="false" th:src="@{images/file.png}"/>
                    <img th:case="true" th:src="@{images/folder.png}"/>
                </div>
            </td>
            <td><span th:text="${file.name}"> Nom </span></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>